<div class="container">
    <h1 class="display-4 text-center p-4 mb-3"><span class="text-primary">Login</span> Portal</h1>
        <hr>
    <div class="row m-6 row-cols-10">
        <article class="mx-auto">
        <div class="card card-body ">
            <div class="form-group">
            <h2 class="text-primary">Admin Login</h2>

                <form>
                    <div class="form-group">
                        <label for="id">ID Number</label>
                        <input type="text" name="id" class="form-control my-1 mr-2" required>
                    </div>
                    <div class="id error"></div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password"  name="password"class="form-control my-1 mr-2" required>
                    </div>
                    <div class="password error"></div>
                    <div>
                        <Button class="btn btn-primary btn-block">Login</Button>
                    </div>
                </form>
            </div>
        </div>
    </article>
</div>
</div>

<script>
    const form = document.querySelector('form');
    const idError = document.querySelector('.id.error');
    const passwordError = document.querySelector('.password.error');

    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      // reset errors
      idError.textContent = '';
      passwordError.textContent = '';
      // get values
      const role = 'admin'
      const id = form.id.value;
      const password = form.password.value;
      try {
        const res = await fetch('/admin/login', { 
          method: 'POST', 
          body: JSON.stringify({ role, id, password }),
          headers: {'Content-Type': 'application/json'}
        });
        const data = await res.json();

        if (data.errors) {
          idError.textContent = data.errors.id;
          passwordError.textContent = data.errors.password;
        }
        if (data.role === 'admin') {
          location.assign('/admin');
        }
      }
      catch (err) {
        console.log(err);
      }
    });
  </script>