<div class="container-sm">
  <div class="login_form">
    <h1 class="display-4 text-center p-4 mb-3"><span class="text-primary">Login</span> Portal</h1>
    <hr>
    <div class="card card-body mt-3">
      <h2 class="text-primary">Admin Login</h2>
        <form>
            <div class="mb-3">
                <label for="id" class="form-label">ID Number</label>
                <input type="text" name="id" class="form-control my-1 mr-2" required>
            </div>
            <div class="form-text"><p class="id error text-warning"></p></div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password"  name="password"class="form-control my-1 mr-2" required>
            </div>
            <div class="form-text"><p class="password error text-warning"></p></div>

            
            <Button class="btn btn-primary btn-block">Login</Button>

        </form>
    </div>
  </div>
</div>


<script>
    const form = document.querySelector('form');
    const idError = document.querySelector('.id.error');
    const passwordError = document.querySelector('.password.error');

    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      // reset errors
      idError.textContent = '';
      passwordError.textContent = '';
      // get values
      const role = 'admin'
      const id = form.id.value;
      const password = form.password.value;
      try {
        const res = await fetch('/admin/login', { 
          method: 'POST', 
          body: JSON.stringify({ role, id, password }),
          headers: {'Content-Type': 'application/json'}
        });
        const data = await res.json();

        if (data.errors) {

          idError.textContent = data.errors.id;
          passwordError.textContent = data.errors.password;
        }
        if (data.role === 'admin') {
          location.assign('/admin');
        }
      } 
      catch (err) {
        console.log(err);
      }
    });
  </script>