<!-- VERTICAL NAVIGATION BAR -->
 
<div class="vertical-nav bg-white">
  <div class="py-4 px-3 mb-4 bg-light">
    <div class="media d-flex align-items-center">
      <!-- <img src="" alt="" width="80" height="80" class="mr-3"> -->
      <div class="media-body">
        <h4 class="m-0"><%= usr_name %> </h4>
        <p class="font-weight-normal text-muted mb-0"> <%= usr_id %>  </p>
      </div>
    </div>
  </div>

  <h5 class="text-gray font-weight-bold text-uppercase px-3 fs-5 pb-4 mb-0">Dashboard</h5>

  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a class="nav-link text-dark bg-light" href="/teacher/">
        <i class="fa fa-th-large mr-3 text-primary fa-fw"></i> Home
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark bg-light" href="/teacher/myarticles">
        <i class="mr-3 text-primary far fa-newspaper"></i>Your Articles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark bg-light" href="/teacher/myclasses">
        <i class="mr-3 text-primary fas fa-chart-bar"></i>  Enrolled Classes</a>
    </li>  
    <li class="nav-item">
      <a class="nav-link text-dark bg-light" href="#">
        <i class="mr-3 text-primary fas fa-chart-bar"></i>Take Attendance</a>
    </li>      
    <li class="nav-item">
      <a class="nav-link text-dark bg-light" href="#">
        <i class="mr-3 text-primary fas fa-chart-bar"></i>Attendance Activity</a>
    </li>
  </ul>

  <h5 class="text-gray font-weight-bold text-uppercase px-3 fs-5 pt-4 pb-4 mb-0">
    Your Profile</h5>


  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a class="nav-link text-dark bg-light" href="/logout">
        <i class="mr-3 text-primary fas fa-user-secret"></i> Logout
      </a>
    </li>
  </ul>
  
</div>
