<div class="">
    <h1 class="mb-4">Your Articles</h1>
    <a href="/teacher/newarticle" class="btn btn-success">Create Article</a>

    <% if(typeof articles != 'undefined') { %> 
        <% articles.forEach((article) => { %>
            <div class="card mt-4 overflow-auto">
                <div class="card-body">
                    <h4 class="card-title"> <%= article.title %> </h4>
                    <div class="card-subtile text-muted mb-2">
                        <%= article.createdAt.toLocaleDateString() %> 
                    </div>

                    <div class="card-text mb-2">
                        <%= article.description %> 
                    </div>

                </div>
            </div>
        <% }) %> 
    <% } %>
</div>
 