<%- include('./header')  %> 
<h1 class="title">STUDENT PAGE</h1>
<h1 class="title">STUDENT PAGE</h1>
<h1 class="title">STUDENT PAGE</h1>
<h1 class="title">STUDENT PAGE</h1>
<small class="text-muted">with muted text</small>

<button  class="btn btn-warning disabled">Hello</button>